:root {
    --main-color: #E85B2A;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    /* line-height: 1.6; */
    background-color: #ffffff;
    overflow-x: hidden;
    font-size: 16px;
    color: #333;
    /* position: relative; */
    height: 4000px;
}
.container {
    padding-left: 120px;
    padding-right: 120px;
    margin: auto;
}
@media (max-width: 767px) {
    .container {
        padding-left: 70px;
        padding-right: 70px;
    }
}
@media (max-width: 575px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}
.rstul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.rsta {
    text-decoration: none;
    color: inherit;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot {
    color: var(--main-color);
}
.rstbttn {
    border: none;
    outline: none;
    padding: 20px 30px;
    text-transform: uppercase;
    cursor: pointer;
}
.sectitle {
    display: block;
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 600;
    font-size: 16px;
}
.secp {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: #555;
    line-height: 1.4;
    margin: 0;
    padding-top: 5px;
}

@media (max-width: 575px) {
    .secp {
        font-size: 25px;
    }
}
/* ----------------------Page------------------------ */
.header {
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #eee;
    z-index: 1000;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .links {
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .links h3.logo {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
    text-transform: capitalize;
    font-size: 20px;
}
.header .links ul {
    display: flex;
    margin-bottom: -5px;
}
.header .links ul li {
    font-size: 13px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .links ul li:hover {
    color: var(--main-color);
}
.header .links ul li a {
    text-transform: capitalize;
}
.header .links ul li a.active {
    font-weight: 600;
}
.header .links ul li.dropdown {
    padding-right: 20px;
}
.header .links ul li.dropdown i {
    margin-left: 5px;
    font-size: 10px;
}
.header .links .secLinks {
    display: none;
    position: absolute;
    right: 10px;
    top: 40px;
    border: 1px solid #ccc;
}
.header .links .secLinks ul {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}
.header .links .secLinks ul li {
    font-size: 14px;
}
.header .links .secLinks ul li.menutwo i {
    padding-left: 40px;
    font-size: 13px;
}
.header .links .menutwolinks {
    display: none;
    position: absolute;
    top: 235px;
    right: -113px;
    border: 1px solid #f55;
}
.header .links .menutwolinks ul {
    display: flex;
    flex-direction: column;
    padding: 10px 50px 20px 10px;
}
.header .links .menutwolinks ul li {
    font-size: 14px;
}
.header .social {
    display: flex;
    align-items: center;
}
.header .social a {
    margin-left: 25px;
}
.photo {
    /* position: relative;
    overflow: hidden; */
    margin-bottom: 130px;
}
.photo .topimage {
    display: none;
}
.photo .container {
    display: flex;
}
.photo .counterdiv {
    flex: 1;
    z-index: 1;
}
.photo .image {
    flex: 1;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
}
.photo .image img {
    max-width: 100%;
}
@media (max-width: 991px) {
    .photo {
        display: flex;
        flex-direction: column;
    }
    .photo .topimage {
        display: block;
        z-index: -1;
        /* background-image: url("../imgs/img-1.jpg");
        background-size: cover; */
    }
    .photo .topimage img {
        height: 400px;
        width: 100%;
    }
    .photo .container {
        flex-direction: column-reverse;
    }
    .photo .image {
        display: none;
    }
}
.photo .counterdiv {
    display: flex;
    flex-direction: column;
    margin-right: 60%;    
}
.photo .counterdiv .title {
    margin: 150px 10px 0;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
}
@media (max-width: 991px) {
    .photo .counterdiv {
        margin-right: 0;    
    }
    .photo .counterdiv .title {
        margin: 60px 10px 0;
    }
}
.photo .counterdiv .desc {
    /* max-width: 40%; */
    margin-top: 30px;
    margin-bottom: 40px;
}
.photo .counterdiv .counter {
    display: flex;
    gap: 70px;
}
@media (max-width: 991px) {
    .photo .counterdiv .counter {
        gap: 150px;
    }
}
@media (max-width: 575px) {
    .photo .counterdiv .counter {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}
.photo .counterdiv .counter .box {
    width: 100px;
}
@media (max-width: 575px) {
    .photo .counterdiv .counter .box {
        text-align: center;
    }
}
.photo .counterdiv .counter span {
    display: block;
}
.photo .counterdiv .counter .number {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 15px;
}
.photo .counterdiv .counter .customers .number::after{
    content: "+";
}
.photo .counterdiv .counter .details {
    color: #777;
    font-size: 15px;
    line-height: 1.5;
}
.features {
    padding-top: 70px;
    padding-bottom: 90px;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
@media (max-width: 991px)  {
    .features {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .features .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}
@media (max-width: 575px) {
    .features .container {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
.features .feat.title h3 {
    color: #444;
    line-height: 1.4;
    margin: 0;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    width: 150px;
}
@media (max-width: 991px)  {
    .features .feat.title h3 {
        width: 250px;
    }
}
@media (max-width: 575px) {
    .features .feat.title h3 {
        width: 100%;
    }
}
.features .feat i {
    color: var(--main-color);
    margin: 0;
}
.features .feat h4 {
    text-transform: capitalize;
    color: #444;
    margin: 40px auto 20px;
    font-family: "Playfair Display", serif;
}
.features .feat p {
    line-height: 1.4;
    color: #777;
}
.pricing {
    background-color: #F8F9FA;
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
}
.pricing .container {
    display: flex;
    flex-direction: column;
}
.pricing .desc {
    text-align: center;
    margin-bottom: 60px;
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* position: absolute;
    top: 70%; */
}
@media (max-width: 991px) {
    .pricing .plans {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 575px) {
    .pricing .plans {
        grid-template-columns: 1fr;
    }
}
.pricing .plans .plan {
    background-color: #fff;
    border: 2px solid #555;
    padding: 50px 30px;
}
.pricing .plans .plan h4 {
    margin: 0 auto 20px;
    padding: 0;
    text-transform: capitalize;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}
.pricing .plans .plan .price {
    display: block;
    font-size: 35px;
    margin-bottom: 50px;
}
.pricing .plans .plan ul {
    padding-bottom: 20px;
}
.pricing .plans .plan ul li {
    text-transform: capitalize;
    margin-bottom: 25px;
    position: relative;
    padding-left: 20px;
}
.pricing .plans .plan ul li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f105";
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 0;
}
.pricing .plans .plan .button {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-weight: bold;
    font-size: 14px
}
.pricing .plans .plan .button:hover {
    background-color: var(--main-color);
    color: #fff;
}
.pricing .plans .plan.active {
    background-color: var(--main-color);
    color: #fff;
    border: 2px solid var(--main-color);
}
.pricing .plans .plan.active .button {
    border: 1px solid #fff;
    color: #fff;
}
.pricing .plans .plan.active .button:hover {
    background-color: #fff;
    color: var(--main-color);
}
.aboutus {
    padding-top: 70px;
    padding-bottom: 180px;
}
.aboutus .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 240px;
}
@media (max-width: 991px) {
    .aboutus {
        padding-bottom: 70px;
    }
    .aboutus .container {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
.aboutus .about {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.aboutus .about .row2 {
    display: flex;
    align-items: center;
    gap: 30px;
}
@media (max-width: 575px) {
    .aboutus .about .row2 {
        flex-direction: column;
    }
}
.aboutus .about .row2 .icon {
    background-color: #FDF7F4;
    width: fit-content;
    padding: 30px;
    border-radius: 50%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
@media (max-width: 991px) {
    .aboutus .about .row2 .icon {
        margin: auto;
    }
}
.aboutus .about .row2 i {
    color: var(--main-color);
    margin: 0;
}
.aboutus .about .row2 h4 {
    text-transform: capitalize;
    color: #000;
    margin: 20px auto;
    font-family: "Playfair Display", serif;
    font-size: 20px;
}
.aboutus .about .row2 p {
    line-height: 1.4;
    color: #777;
}
.aboutus .porttait {
    display: flex;
    align-items: center;
    gap: 30px;
}
@media (max-width: 767px) {
    .aboutus .porttait {
        flex-direction: column;
    }
}
.aboutus .porttait .col1,
.aboutus .porttait .col2 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.aboutus .porttait .col2 {
    margin-top: 50px;
}
@media (max-width: 767px) {
    .aboutus .porttait .col2 {
        margin-top: 0;
    }
}
.aboutus .porttait img {
    max-width: 100%;
}
.ceo-info {
    display: flex;
    position: relative;
    margin-bottom: 480px;
}
@media (max-width: 991px) {
    .ceo-info {
        margin-top: 50px;
    }
}
.ceo-info .image {
    position: absolute;
    top: -50px;
    left: 50px;
    z-index: 2;
}
.ceo-info .image img,
.ceo-info .shadow  {
    width: 580px;
    height: 410px;
}
@media (max-width: 991px) {
    .ceo-info .image img,
    .ceo-info .shadow  {
        width: 415px;
        height: 290px;
    }
}
.ceo-info .shadow {
    position: absolute;
    top: -30px;
    left: 70px;
    background-color: #EAEBEC;
    background-color: rgba(0, 0, 0, 0.04);
    z-index: 3;
}
.ceo-info .maxim {
    height: 410px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    background-color: var(--main-color);
    color: #fff;
    padding: 40px 25px 40px 100px;
}
.ceo-info .maxim q {
    display: block;
    font-size: 26px;
    line-height: 1.6;
    margin-bottom: 25px;
}
@media (max-width: 991px) {
    .ceo-info .maxim {
        height: 290px;
        padding-left: 130px;
    }
    .ceo-info .maxim q {
        font-size: 16px;
    }
}
.ceo-info .maxim .ceo {
    display: flex;
    align-items: center;
}
.ceo-info .maxim .ceo img {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-right: 20px;
}
.ceo-info .maxim .ceo .founder {
    display: flex;
    flex-direction: column;
}
.ceo-info .maxim .ceo .founder .ceoname {
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 7px;
}
.ceo-info .maxim .ceo .founder .ceotitle {
    display: block;
    color: #ccc;
}
.whyus {
    background-color: #F8F9FA;
    padding-top: 70px;
    padding-bottom: 70px;
}
.whyus .container {
    display: flex;
    flex-direction: column;
}
.whyus .desc {
    text-align: center;
}
.whyus .content {
    display: flex;
    column-gap: 30px;
    margin-top: 50px;
}
.whyus .content .howto {
    flex: 1;
}
@media (max-width: 991px) {
    .whyus .content {
        flex-direction: column;
    }
    .whyus .content .howto {
        margin-bottom: 15px;
    }
}
.whyus .content .howto ul li {
    background-color: #fff;
    text-transform: capitalize;
    padding: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.whyus .content .howto ul li.clicked {
    background-color: var(--main-color);
    color: #fff;
}
.whyus .content .howto ul li i {
    padding-right: 10px;
}
/* .whyus .content .howto ul li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    content: "\f105";
    position: absolute;
    left: 10px;
    top: 20px;
} */
/* .whyus .content .howto ul li:hover::before {
    content: "\f107";
} */
.whyus .content .howto ul li p {
    display: none;
    line-height: 1.5;
    font-weight: normal;
    font-size: 15px;
    font-family: 'Open Sans', 'sans-serif';
}
.whyus .content .howto ul li p.show {
    display: block;
}
/* .whyus .content .howto ul li:hover p {
    color: #eee;
} */
.whyus .content .slider {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.whyus .content .slider .images img {
    max-width: 100%;
}
.whyus .content .slider .images img:not(.active) {
    display: none;
}
.whyus .content .slider .bullets ul {
    display: flex;
}
.whyus .content .slider .bullets ul li {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.whyus .content .slider .bullets ul li.active {
    background-color: var(--main-color);
}
.testimonial {
    padding-top: 50px;
    padding-bottom: 50px;
}
.testimonial .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: auto;
}
@media (max-width: 991px) {
    .testimonial .content {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .testimonial .content {
        width: 80%;
    }
}
.testimonial .desc p {
    color: #222;
}
.testimonial .clients {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 30px;
    padding-right: 30px;
}
.testimonial .clients .client {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial .clients .client:not(.active) {
    display: none;
}
.testimonial .clients .client img {
    width: 75px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testimonial .clients .client span.name {
    display: block;
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.testimonial .clients .client q {
    line-height: 1.5;
}
.testimonial .bullets ul {
    display: flex;
}
.testimonial .bullets ul li {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.testimonial .bullets ul li.active {
    background-color: var(--main-color);
}
.letstalk {
    position: relative;
    bottom: -30px;
}
@media (max-width: 991px) {
    .letstalk {
        padding-bottom: 60px;
    }
}
.letstalk .content {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
}
.letstalk .content h3 {
    margin: 0;
    font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: normal;
}
.letstalk .content p {
    margin: 15px auto 20px;
    color: #333;
}
.letstalk .content .button {
    background-color: #fff;
    color: var(--main-color);
    padding:  15px 30px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.letstalk .content .button:hover {
    background-color: #000;
    color: #fff;
}
.subscribe {
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: #F8F9FA;
}
.subscribe .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 75px;
}
@media (max-width: 991px) {
    .subscribe .container {
        grid-template-columns: 1fr;
    }
}
.subscribe .col1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
@media (max-width: 767px) {
    .subscribe .col1 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 575px) {
    .subscribe .col1 {
        grid-template-columns: 1fr;
    }
}
.subscribe span {
    display: block;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-family: "Playfair Display", serif;
    font-size: 18px;
    color: #333;
    font-weight: 400;
}
.subscribe .col1 ul {
    display: flex;
    flex-direction: column;
}
.subscribe .col1 ul li {
    margin-bottom: 10px;
    font-size: 14px;
}
.subscribe .col2 {
    display: flex;
    flex-direction: column;
}
.subscribe .col2 form {
    display: flex;
}
.subscribe .col2 form input {
    outline: none;
    border: none;
    padding: 15px 10px;
    border-style: solid;
    border-width: 1px;
}
.subscribe .col2 form input[type="email"] {
    flex: 4;
    border-color: #333 transparent #333 #333;
}
.subscribe .col2 form input[type="email"]:focus {
    border-color: var(--main-color) transparent var(--main-color) var(--main-color);
}
.subscribe .col2 form input[type="submit"] {
    flex: 1;
    border-color: #000;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.subscribe .col2 form input[type="submit"]:hover {
    background-color: var(--main-color);
    color: #fff;
    border-color: var(--main-color);
}
footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
@media (max-width: 991px) {
    footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
footer p {
    color: #333;
    line-height: 2;
}
footer p span {
    color: var(--main-color);
}

@media (max-width: 767px) {

}
@media (max-width: 575px) {

}